.lg {
    display: flex;
    max-width: 300px;
    font-family: "Roboto", sans-serif;
}

.doughnut {
}

.LGDesc-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.lg-desc {
    display: flex;
    /* background-color: pink; */
    align-items: center;
    justify-content: space-around;
}

.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 1rem;
}

.desc-word {
    display: flex;
    align-items: center;
}

.lang-name {
    margin-right: 1rem;
}

.lang-pc {
    margin-right: 1rem;
}
