.rp-desc-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
}

.rp-desc-wrap h1 {
    color: #222222;
}
.rp-desc-wrap p {
    color: #2e2e2e;
}
