.profileWrap {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: aquamarine;
}

.profileFlexWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profileFlexWrap > img {
    width: 70%;
}

.userId {
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

.job {
    margin-top: 1rem;
}

.goal {
    font-size: 0.8rem;
}

button.editBtn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    padding: 0.5rem 0;
    margin: 1rem 0;
    background: #232323;
    color: var(--main-light-background-color);
    font-weight: 600;
}

ul.following {
    display: flex;
    width: 80%;
    align-items: center;
    font-size: 0.8rem;
    justify-content: space-around;
    padding: 0;
}
